<h1>New team</h1>

<% form_for(@team) do |f| %>
  <%= f.error_messages %>
  <%= f.hidden_field :tournament_id %>
  
  <p>
  	<%= f.label :location_id %><br />
    <%= f.collection_select(:location_id, Location.all, :id, :geo) %>
  </p>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :division_id %><br />
    <%= f.collection_select(:division_id, Division.all, :id, :name) %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', @team.tournament %>