<p>
  <b>Name:</b>
  <%=h @team.name %>
</p>

<p>
  <b>Location:</b>
  <%=h @team.location.name %>
</p>

<p>
  <b>Division:</b>
  <%=h @team.division.name %>
</p>



<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Back', teams_path %>